@model Shipping
<div class="container">
    <div class="row">
        <form method="post" asp-controller="Shipping" asp-action="Create">
            <div class="form-group">
                <label for="exampleInputEmail1">ImageUrl</label>
                <input type="text" class="form-control" id="exampleInputEmail1" name="imageUrl" placeholder="Enter shipping imageUrl">
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">Title</label>
                <input type="text" class="form-control" id="exampleInputEmail1" name="title" placeholder="Enter shipping title">

            </div>

            <div class="form-group">
                <label for="exampleInputEmail1">Description</label>
                <input type="text" class="form-control" id="exampleInputEmail1" name="description" placeholder="Enter shipping description">

            </div>


            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>
